/*Dashboard*/
.dashboard{

  .border-bottom{
    border-bottom: 0!important;
  }
  .dashboard-sidebar {
   @include border-outset(2px);
  }

  .message{
    @include border-outset(2px);
    .notice-dismiss{
      width: 24px;
      height: 24px;
      text-align: center;
      @include border-outset(2px);
      background-image: none;
      background-color: $window-color;
    }
  }

  .push
  {
    border: initial;
    @include border-outset(2px);
    border-bottom: 2px solid #999!important;
    .body{
      padding: 4px;
    }
    .commits{
      .message{
        @include border-inset(0);
      }
    }
    .Box
    {
      padding: 4px;
      margin: 4px;
      border: initial;
      @include border-inset(2px);
      border-bottom: inset 2px #ddd!important;
    }
  }

  .watch_started{
    padding: 4px;
    @include border-outset(2px);
  }
  .release
  {
    padding: 4px;
    @include border-outset(2px);
  }

  .Details
  {
    .Box
    {
      padding: 4px;
      margin: 4px;
      border: initial;
      @include border-inset(2px);
      border-bottom: inset 2px #ddd!important;
    }
    &.Box{
      .Box-body {
        background-color: $window-color !important;
      }
      @include border-inset(2px);
      .Box-header {
        margin: 0;
      }
    }
  }

  .AvatarStack-body
  {
    background-color: $window-color !important;
  }

  .news .Details
  {
    border: 0;
  }


  /*Discover repositories Recommendation*/
  .js-notice{
    form.js-notice-dismiss{
      button.btn {
        @include border-outset(2px);
        color: black;
        background-color: $window-color;
      }
    }
  }
}


