body
{
  background-color: $window-color;
}

.select-menu-button,
.select-menu-button:hover{
  @include border-outset(2px);
  background-image: none;
  background-color: #d4d2cd;
}
.select-menu-modal {
  @include border-outset(2px);
  background-image: none;
  background-color: #d4d2cd;
  .select-menu-header, .select-menu-divider{
    background: linear-gradient(to right, #22276c, #586aa5, #a9c7f6);
    span{
      color: white;
    }
  }
  .select-menu-item{
    background: none;
    a{
      color: black;
    }
    &.navigation-focus{
      background-color: $selected-color;
    }
  }
}
.repository-content {
  .Box{
    @include border-inset(2px);
  }
}
.commit-tease{
  @include border-inset(2px);
}
// Content Viewer
.blob-wrapper{
  background-color: white;
  @include border-inset(2px);
}
// TAG buttons
.topic-tag{
  @include border-outset(1px);
  border-top: 0;
  background-color: #f3f3f3;
  &:hover{
    background-color: $window-color;
  }
}

// TABs
.UnderlineNav{
  .UnderlineNav-body{
    .UnderlineNav-item{
      @include border-outset(2px);
      border-bottom: 0;
      margin-top: 4px;
      border-radius: 4px 4px 0 0;
      padding: 8px 4px;
      .selected{}
    }
  }
}
